<template name="chatarea">
    <main>
    	<img class="arrow-left" src="/arrow.svg">
   		<h1>Heleen</h1>
   		<img class="img_logout" src="/logout.svg">

   		<hr>

   		<div class="phone-containter">
   		    <div id="phone" class="phone">
   		      <div class="message-left">
   		      	<div class="message-text">Hello!</div>
   		      </div>
   		      <div class="message-right">
   		      	<div class="message-text">Hi!</div>
   		      		<div class="message-text">I'm looking for sombody who cann help me out with some code</div>
   		      	</div>
   		       <div class="message-left">
   		       		<div class="message-text">Oke, whats up? ps: in return cann you help me design a page</div>
   		       </div>
   		    </div>

   		    
   		    <div class="send-container">
   		      <form id="send">
   		      	<input class="send-input" type="text" id="msgInput" placeholder="Message" />
   		      	<input class="send-btn" type="submit" value="Send">
   		      </form>
   		    </div>
   		</div>
   </main>	   	
</template>